{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DDAL-LANG</title>
    <link rel="stylesheet" href="{% static 'css/StoreDelete.css'%}" />


</head>
<body>
    <main style="margin-bottom:0px">
        <p id="really">
            {{ review.store.name }}의 리뷰를 삭제하시겠습니까?
        </p>

    <p id="really" style="font-size:15px; color:#7b7b7b;">{{ review.stars }}</p>
    <p id="really" style="font-size:15px; color:#7b7b7b;">{{ review.created_at|date:"Y-m-d" }}</p>
    <div id="really" style="font-size:15px; color:#b7b7b7;">{{ review.comment|linebreaks }}</div>

    {% comment %}
    {% if review.images.all %}
        {% for img in review.images.all %}
            <img src="{{ img.image.url }}" alt="리뷰 이미지" width="150" height="150">
        {% endfor %}
        <br/>
    {% endif %}
    {% endcomment %}

    <form method="POST" action="{% url 'reviews:review-delete' review.id %}">
        {% csrf_token %}
        <div id="btnBox">
            <button id="delete" class="btn" type="submit">삭제</button>
            <a href="{% url 'reviews:review-list' review.store.id %}">
                <div id="no" class="btn">뒤로 가기</div>
            </a>
        </div>
    </form>
</body>
</html>
