body{
    background-color:#fafafa;
    margin: 0px;
}
main{
    display: flex;
    justify-self: center;
    min-width: 430px;
    min-height: 100dvh;
    margin-bottom: 65px;
    background-color: white;
    flex-direction:column;

}
/* 여기까지 기본틀 */

#container{
    width: 100%;
    height: 100vh;
    max-width: 430px;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    padding-top: env(safe-area-inset-top);
}

#logo{
    position: absolute;
    left: 37px;
    top: 112px;
}

#character{
    position: absolute;
    right: 0;
    top: 201px;
    z-index: -1;
}

#startBtn{
    width: 320px;
    height: 50px;
    border-radius: 14px;
    background-color: #FFCC02;
    border: 0;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
    margin-top: 670px;
}

#loginBox{
    gap: 15px;
    display: flex;
    margin-top: 15px;
}

#already{
    margin: 0;
    font-size: 15px;
    color: #7B7B7B;
    font-weight: 600;
}

#login{
    font-size: 15px;
    color: #7B7B7B;
    font-weight: 600;
    text-decoration: underline;
}