{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DDAL-LANG</title>
    <link rel="stylesheet" href="{% static 'css/Top100&ReviewBest.css'%}" />    
</head>
<body>
    <main>
        <header>
            <a href="{% url 'home:main' %}" style="text-decoration: none;">
                <img src="{% static 'IMG/edit-back.png'%}" class="back-img"></img>
            </a>
            <div class="tittle-box">
                <img src="{% static 'IMG/top100-tittle.svg'%}">
                <div class="tittle text">오늘의 HOT</div>
            </div>
        </header>

        <!-- 가게 리스트 -->
        <div class="store-info-box">
            {% for store in stores %}
                <a href="{% url 'stores:store-detail' store.id %}" class="box"  style="text-decoration: none;">
                    <div class="left-box">
                        <div class="first-line text">
                            {{ store.address }} <br/>
                            {% for category in store.category.all %}
                                <span class="category">{{ category.name }}</span>{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </div>
                        <div class="second-line">
                            <div class="num text">{{ forloop.counter }}</div>
                            <div class="store-name text">{{ store.name }}</div>
                        </div>
                        <div class="third-line">
                            <div class="position text">📍{{ store.distance|default_if_none:"-" }}</div>
                            <div class="operation">
                            <img src="{% static 'IMG/blue-time.svg' %}" style="color:#0094D6">
                            {% if store.is_open %}                                
                                <div class="time text" style="color:#0094D6">영업중</div>
                            {% else %}
                                <div class="time text" style="color:#0094D6">영업 종료</div>
                            {% endif %}
                        </div>
                        </div>
                    </div>
                    {% if store.image %}
                        <img src="{{ store.image.url }}" alt="{{ store.name }} 이미지" class="store-img">
                    {% else %}
                        <img src="{% static 'img/default_store.png' %}" alt="Default 이미지" class="store-img">
                    {% endif %}
                </a>
            {% empty %}
                <p>해당 지역구에 등록된 가게가 없습니다.</p>
            {% endfor %}
        </div>
    </main>
</body>
</html>
