{% load static %}
{% load humanize %} {# intcomma 숫자 읽기 쉽게 변환 가능 #}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>가게 정보</title>
</head>
<body>
    <a href='{% url 'stores:public-store-list' %}'>가게 목록</a>
    <br/><br>

    <!-- ######### 가게 정보 #########-->
    {% if store.image %}
        <a href="{{ store.image.url }}" target="_blank">
            <img src="{{ store.image.url }}" width="200" height="200">
        </a>
    {% else %}
        <img src="{% static 'img/default_store.png' %}" width="200" height="200">
    {% endif %}

    <h2>{{ store.name }}</h2>

    <!-- 찜 버튼 -->
    <button id="favorite-btn" data-store="{{ store.id }}">
        {% if is_favorite %}
            ♥ 찜 해제
        {% else %}
            ♡ 찜하기
        {% endif %}
    </button>
    <br/><br/>

    주소: {{ store.address }} 
    <br/>

    <a href="{% url 'reviews:review-list' store.id %}">
        ★{{ store.rating|floatformat:1 }} 
        ({{ store.reviews.count }})
    </a>
    <br/>

    카테고리:
    {% for category in store.category.all %}
        {{ category.name }}{% if not forloop.last %}, {% endif %}
    {% endfor %}
    <br/><br>

    <a href="{% url 'visit_rewards:visit_check' store.id %}">방문 인증</a>
    <br/><br>

    <!-- 영업 -->
        {% if store.open_time and store.close_time %}
            영업 시간: {{ store.open_time|time:"H:i" }} ~ {{ store.close_time|time:"H:i" }}
            {% if store.is_open %}
                (영업 중)
            {% else %}
                (영업 종료)
            {% endif %}
            <br/>
        {% endif %}
    <br/>

    <a href="{% url 'reviews:review-create' store.id %}" class="btn">리뷰 작성</a>

    {% if messages %}
    <script>
    {% for message in messages %}
        alert('{{ message }}');
    {% endfor %}
    </script>
    {% endif %}
    

    <hr/>
    <br/>

    <!-- ######### 챌린지 ######### -->
    <h3>진행 중인 챌린지</h3>
    <hr/>
    {% for mission in missions %}
        <div>
            <h4>{{ mission.title }}</h4>
            {{ mission.description }}<br/>
            {{ mission.mission_type.name }} - {{ mission.target_value|floatformat:0|intcomma }}{{ mission.mission_type.unit }}
            <br/>
            보상: {{ mission.reward_description }}<br/>
            {{ mission.start_date|date:"Y-m-d H:i" }} ~ {{ mission.end_date|date:"Y-m-d H:i" }}<br/>

            {% if mission.mission_type.key == 'amount' %}
                <a href="{% url 'missions:update-amount' mission.id %}">금액 입력 (점주 전용)</a>
            {% endif %}
        </div>
    {% empty %}
        진행 중인 챌린지가 없습니다.
    {% endfor %}
    <hr/>
    <br/>

    <!-- ######### 상품/메뉴 ######### -->
    <h3>상품/메뉴</h3>
    <hr/>
    {% for product in products %}
    <div>
        {% if product.image %}
        <a href="{{ product.image.url }}" target="_blank">
            <img src="{{ product.image.url }}" alt="{{ product.name }} 이미지" width="150" height="150">
        </a>
        {% endif %}

        <h4>{{ product.name }}</h4>
        {{ product.price|floatformat:0|intcomma }}원
        <br/>
        {{ product.description }}
    </div>
        <hr/>
    {% empty %}
        등록된 상품이 없습니다.
    {% endfor %}

<script>
    document.getElementById('favorite-btn').addEventListener('click', function() {
    const storeId = this.dataset.store;
    fetch("{% url 'accounts:toggle_favorite' %}", {
        method: "POST",
        headers: {
            "Content-Type": "application/x-www-form-urlencoded",
            "X-CSRFToken": "{{ csrf_token }}"
        },
        body: `store_id=${storeId}`
    })
    .then(res => res.json())
    .then(data => {
        if(data.status === "added") {
            this.textContent = "♥ 찜 해제";
        } else if(data.status === "removed") {
            this.textContent = "♡ 찜하기";
        } else {
            alert("찜 처리에 실패했습니다.");
        }
    });
});
</script>
</body>
</html>
