body{
    background-color:#fafafa;
    margin: 0px;
}
main{
    display: flex;
    justify-self: center;
    min-width: 430px;
    min-height: 100dvh;
    background-color: white;
    flex-direction:column;

}
body{
 -ms-overflow-style: none;
 }
 
::-webkit-scrollbar {
  display: none;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
/* 여기까지 기본틀 */

#container{
    width: 100%;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 헤더 시작 */
header{
    width: 335px;
    height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;
    padding-top: env(safe-area-inset-top);
}

#headerBox{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 335px;
}

#appTitle{
    margin: 0;
    color: #000000;
    font-size: 22px;
    font-weight: 600;
}
/* 헤더 끝 */

p{
    margin: 0;
}

#containerBody{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.containerBigBox{
    width: 364px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 22px 21px;
    box-sizing: border-box;
}

.containerTitle{
    color: #b7b7b7;
    font-size: 15px;
    font-weight: 600;
}

.containerSmallBox{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.containerContent{
    color: #000000;
    font-size: 18px;
    font-weight: 600;
}

.containerLittleBox{
    display: flex;
    align-items: center;
    gap: 12px;
}

.agree{
    color: #0094D6;
    font-size: 15px;
    font-weight: 600;
}

#containerWarning{
    color: #b7b7b7;
    font-size: 12px;
    font-weight: 600;
}