body{
    background-color:#fafafa;
    margin: 0px;
}
main{
    display: flex;
    justify-self: center;
    min-width: 430px;
    height: 100dvh; 
    background-color: white;
    flex-direction:column;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

a{
    text-decoration: none;
}

p{
    margin: 0;
}

header{
    width: 100%;
    display: flex;
    justify-content: center;
}

#header{
    display: flex;
    margin-top: 32px;
    align-items: center;
    width: 310px;
    justify-content: space-between;
}

.backImg{
    width: 15px;
}

.title{
    color: #000;
    font-size: 18px;
    font-weight: 600;
}

#container{
    width: 100%;
    display: flex;
    justify-content: center;
}

#containerBody{
    width: 310px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 44px;
}

#searchBox{
    width: 310px;
    height: 49px;
    border-radius: 11px;
    border: 1px solid #B7B7B7;
    padding:12px;
    box-sizing: border-box;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.search{
    border: none;
    color: #000;
    font-size: 18px;
    font-weight: 600;
    outline: none;
}

#searchIcon{
    width: 18px;
}

.realSearchBtn{
    display: none;
}

#map{
    width: 310px;
    height: 195px;
    border-radius: 17px;
}

#nowLocationBox{
    width: 310px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.locationBtn{
    border: none;
    outline: none;
    background-color: transparent;
    color: #7B7B7B;
    font-size: 15px;
    font-weight: 500;
    gap: 11px;
}

.saveBtn{
    width: 310px;
    height: 49px;
    background-color:#d9d9d9;
    border-radius: 11px;
    outline: none;
    border: none;
    color: #FFF;
    font-size: 15px;
    font-weight: 600;
    margin-top: 2px;
}