
body{
    background-color:#fafafa;
    margin: 0px;
}
main{
    display: flex;
    justify-self: center;
    min-width: 430px;
    height: 100dvh; 
    background-color: white;
    flex-direction:column;
    position: relative;
}
body{
 -ms-overflow-style: none;
 }
 
::-webkit-scrollbar {
  display: none;
}

header{
    display: flex;
    margin-top: 32px;
    gap: 101px;
    align-items: center;
    height: 29px;
    margin-left: 54px;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}


.tittle{
    font-size: 22px;
    font-weight: 600;
}
.text{
    color: #000;
    font-family: Pretendard;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.back-img{
    width: 8px;
    height: 14px;
    flex-shrink: 0;
    stroke-width: 2px;
    stroke: #000;
}

.connect-tittle{
    font-weight: 600;
    font-size: 20px;
    margin-top: 22px;
}

.connect-text{
    color: #CCC;
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;
}

.connect-account{
    display: flex;
    align-items: center;
    gap: 25px;
    margin-top: 10px;
}

.account-img{
    width: 40px;
    height: 40px;
}

.separation-box{
    width: 100%;
    height: 3px;
    background-color: #d9d9d9;
    margin-top: 30px;
    margin-bottom: 13px;
}
.edit-tittle{
    color: #000;
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.edit-text{
    color: #7B7B7B;
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.edit-content{
    width: 332px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 11px;
    padding-bottom: 14px;
    border-bottom: 2px solid #D9D9D9;
}
.edit-box{
    margin-top: 10px;
    margin-left: 56px;
}
.account-arrow1,
.account-arrow2, 
.account-arrow3,
.account-arrow4{
    width: 6px;
    height: 12px;
    flex-shrink: 0;
    stroke-width: 2px;
    stroke: #7B7B7B;
    cursor: pointer;
}
.bottom{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 100px;
    margin-top: 173px;
}
.membership a,.logout a{
    color: #5C5C5C;
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
}
.hidden{
    display: none;
}
.over-layer{
    position: absolute; 
    top: 0; left: 0; width: 100%;
    height: 100%; 
    background: rgba(123, 123, 123, 0.45); 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    z-index: 1000;
}
.nick-name-box ,.num-box{
    width: 100%;
    height: 499px;
    flex-shrink: 0;
    border-radius: 31px 31px 0px 0px;
    background: #FFF;
    position: absolute;  
    bottom: 0;           
    left: 0;
    z-index: 1001;
}
.nick-name-tittle, .num-tittle{
    display: flex;
    align-items: center;
    margin:18px 0px 27px 160px ;
    gap: 104px;
}
.separation-box{
    width: 100%;
    height: 2px;
    background-color: #D9D9D9;
}
.nick-name-textarea, .num-textarea{
    resize: none;
    margin-left: 40px;
    margin-right: 40px;
    width: 332px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 12px;
    border: 1px solid #5C5C5C;
    padding: 24px 10px;
    padding-bottom: 0px;
}
textarea::placeholder, .nick-name-textarea, .num-textarea {
    color: #000;
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

textarea::placeholder{
    margin-top: 24px;
    margin-left: 10px;
}
.certification-tittle{
    margin-top: 24px;
    margin-left: 370px;
}
button {
    all: unset;   
    cursor: pointer;  
}

.certification-btn{
    width: 309px;
    height: 58px;
    flex-shrink: 0;
    border-radius: 17px;
    background: #FFB635;
    text-align: center;
    margin-left: 65px;
    margin-top: 30px;
    color: #000;
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.email-box, .password-box{
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    border-radius: 31px 31px 0px 0px;
    background: #FFF;
    position: absolute;  
    bottom: 0;           
    left: 0;
    z-index: 1000;
}
.back{
    margin-top:32px;    
    margin-left:54px;    
}
.email-tittle{
    margin-top: 36px;
    margin-left: 54px;
    font-weight: 600;
    font-size: 18px;
}

.email-textarea{
    margin-left:54px;
    margin-top: 7px;
    resize: none;
    padding: 11px 0px 11px 7px;
    background: #FFF;
    width: 320px;
    height: 20px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1.5px solid #CCC;
    color: #000;
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.email-textarea::placeholder{
    font-size: 14px;
}

.email-btn{
    width: 67px;
    height: 43px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFB635;
    color: #000;
    text-align: center;
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: 9px;
    margin-top: 5px;
}

.email-input{
    display: flex;
    align-items: center;
}
.password-tittle{
    font-size: 18px;
}

.password-subtittle{
    margin-top: 7px;
    font-size: 14px;
    color: #CCC;
}

.password-name{
    margin-top: 16px;
    margin-bottom: 4px;
    font-size: 14px;
    color: #7B7B7B;
}

.password-wrapper {
    position: relative;
    width: 280px;
    height: 30px;
    padding: 12px 40px 12px 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 14px;
}

.toggle-btn {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: none;
    cursor: pointer;
    font-size: 16px;
    background-image: url(../IMG/eye.png);
    width: 17px;
    height: 12px;
}

.password-textarea{
    resize: none;
    border: none;
    width: 100%;
    height: 20px;
    outline: none;
    box-shadow: none;
    color: #7B7B7B;
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.password-textarea::placeholder{
    color: #7B7B7B;
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}


.password-check-btn{
    border-radius: 10px;
    background: rgba(255, 182, 53, 0.70);width: 336px;
    height: 39px;
    flex-shrink: 0;
    color: rgba(0, 0, 0, 0.70);
    text-align: center;
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    align-self: self-end;
    position: fixed;
    bottom: 20px;   
    left: 50%;
    transform: translateX(-50%);    

}

.password-check-btn.active {
  background-color: #FFB635; 
  cursor: pointer;
}