{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DDAL-LANG</title>
        <link rel="stylesheet" href="{% static 'CSS/InterestingStore.css'%}" />
    </head>
    <body>
        <main>
            <header>
            <div class="tittle text" >관심 매장</div>
            </header>
            <div class="store-list">
                {% if favorites %}
                    {% for fav in favorites %}
                    <a href="{% url 'stores:store-detail' fav.store.id %}" class="store-link">
                        <div class="list {{ fav.id }}">
                            <img src="{% static 'img/default_store.png'%}" class="store-img">
                            <div class="store-text">
                                <div class="store-name">{{ fav.store.name }}</div>
                                <div class="store-score">
                                    <img src="{% static 'IMG/star-yellow.png'%}" class="yellow-star">
                                    <div class="store-score-num">{{ fav.store.rating|floatformat:1 }}</div>
                                    <div class="store-score-review">({{ fav.store.reviews.count }})</div>
                                </div>
                                <div class="store-info">
                                    {% if fav.store.is_open %}
                                        영업 중
                                    {% else %}
                                        영업 종료
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </a>
                    {% endfor %}
                {% else %}
                <p class="store-name">찜한 가게가 없습니다.</p>
                {% endif %}
            </div>
            <div id="tapBar">
                <a class="tapBarBox" href="{% url 'home:main'%}">
                    <img class="tapBarIcon" src="{% static 'img/home.svg'%}" alt="홈 선택 아이콘" />
                    <p class="tapBarLabel">홈</p>
                </a>
                <a class="tapBarBox" href="{% url 'stores:store-search' %}">
                    <img class="tapBarIcon" src="{% static 'img/search.svg'%}" alt="가게 검색 아이콘" />
                    <p class="tapBarLabel">가게 검색</p>
                </a>
                <a class="tapBarBox" href="{% url 'accounts:favorite_stores' %}">
                    <img class="tapBarIcon" src="{% static 'img/intereststorepicked.svg'%}" alt="관심 매장 아이콘" />
                    <p class="tapBarLabel picked">관심 매장</p>
                </a>
                <a class="tapBarBox" href="{% url 'accounts:mypage' %}">
                    <img class="tapBarIcon" src="{% static 'img/myinfo.svg'%}" alt="내 정보 아이콘" />
                    <p class="tapBarLabel">내 정보</p>
                </a>
            </div>
        </main>
    </body>
</html>