{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DDAL-LANG</title>
        <link rel="stylesheet" href="{% static 'css/ChoosePage.css'%}" />
    </head>
    <body>
        <main>
            <div id="container">
                <img id="logo" src="{% static 'IMG/logo.svg'%}" alt="로고" />
                <img id="character" src="{% static 'IMG/ddallangcharacter.svg'%}" alt="딸랑 캐릭터"/>
                <form>
                    <a href='{% url 'home:main' %}'>
                        <div class="startBtn1">
                            <p class="btnText">소비자로 시작하기</p>
                        </div>
                    </a>
                    <a href='{% url 'stores:owner-store-list' %}'>
                        <div class="startBtn2">
                            <p class="btnText">점주로 시작하기</p>
                        </div>
                    </a>
                </form>
                <div id="loginBox">
                    <p id="already">이미 계정이 있으신가요?</p>
                    <a href='{% url 'accounts:login' %}' id="login">로그인하기</a>
                </div>
            </div>
        </main>
    </body>
</html>