{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DDAL-LANG</title>
    <link rel="stylesheet" href="{% static 'CSS/GifiticonShop.css'%}" />    
</head>
<body>
    <main>
        <!-- 헤더 -->
        <header>
            <a href="{% url 'visit_rewards:my_gifticons' %}">
                <img src="{% static 'IMG/edit-back.png' %}" class="back-img"></img>
            </a>
            <div class="tittle text"> 기프티콘 샵 </div>
        </header>

        <!-- 내 포인트 -->
        <div class="coin-box">
            <img src="{% static 'IMG/coin.svg'%}" class="coin-img">
            <div class="coin text">내 포인트 {{ user_points }}점</div>
        </div>

        <!-- 기프티콘 리스트 -->
        <div class="gifticon-box" \>
            <div class="line">
                {% for g in gifticons %}
                    {% if g.remaining_points >= 0 %}
                        <!-- 카드 전체가 구매 버튼 -->
                        <a href="{% url 'visit_rewards:buy_gifticon' g.id %}" 
                           class="gifticon-back buy-btn"
                           data-name="{{ g.name }}"
                           data-cost="{{ g.point_cost }}"
                           data-remaining="{{ g.remaining_points }}"
                           style="textdecoration:none;">  
                            {% if g.image %}
                                <img src="{{ g.image.url }}" alt="{{ g.name }}" style="width:111px;">
                            {% else %}
                                <img src="{% static 'IMG/default_gifticon.png' %}" alt="기본 이미지">
                            {% endif %}

                            <div class="text-box" style="display:none" >
                                <img src="{% static 'IMG/coin.svg'%}" class="s-coin">
                                <div class="icon-text">{{ g.point_cost }}</div>
                            </div>
                        </a>
                    {% else %}
                        <!-- 포인트 부족도 모달 띄우기 -->
                        <a href="javascript:void(0);" 
                           class="gifticon-back not-enough"
                           data-name="{{ g.name }}"
                           data-cost="{{ g.point_cost }}"
                            style="text-decoration:none;">
                            {% if g.image %}
                                <img src="{{ g.image.url }}" alt="{{ g.name }}" >
                            {% else %}
                                <img src="{% static 'IMG/default_gifticon.png' %}" alt="기본 이미지">
                            {% endif %}

                            <div class="text-box">
                                <img src="{% static 'IMG/coin.svg'%}" class="s-coin">
                                <div class="icon-text">{{ g.point_cost }}</div>
                            </div>
                        </a>
                    {% endif %}

                    {% if forloop.counter|divisibleby:2 %}
                        </div><div class="line">
                    {% endif %}
                {% empty %}
                    <p>등록된 기프티콘이 없습니다.</p>
                {% endfor %}
            </div>
        </div>

        <!-- 모달 (구매 확인) -->
        <div id="check-modal" class="modal-overlay hidden">
            <div class="modal-box check hidden">
                <img src="{% static 'IMG/modal-Character.png'%}" class="modal-icon">
                <div class="modal-title">구매 확인</div>
                <div class="modal-subtitle"></div>
                <div class="modal-desc"></div>
                <button class="modal-btn confirm-btn">구매하기</button>
                <button class="modal-btn cancel-btn">취소</button>
            </div>
        </div>

        <!-- 모달 (포인트 부족) -->
        <div id="fail-modal" class="modal-overlay hidden">
            <div class="modal-box fail hidden">
                <img src="{% static 'IMG/modal-Character.png'%}" class="modal-icon">
                <div class="modal-title">포인트가 부족합니다</div>
                <div class="modal-subtitle"></div>
                <div class="modal-desc"></div>
                <button class="modal-btn close-fail">확인</button>
            </div>
        </div>

        <script src="{% static 'js/GifticonShop.js'%}"></script>
    </main>
</body>
</html>
