<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>QR 방문 인증</title>
    <script src="https://unpkg.com/html5-qrcode" type="text/javascript"></script>
</head>
<body>
    <a href="{% url 'visit_rewards:my_rewards' %}">내 리워드 보기</a><br><br>
    <h2>아이템 샵</h2>
    <p>보유 포인트: {{ user_points }}점</p>

    <ul>
        {% for item in items %}
            <li>
                {{ item.name }} ({{ item.point_cost }}점)
                <a href="{% url 'visit_rewards:buy_item' item.id %}">구매</a>
            </li>
        {% endfor %}
    </ul>


</body>
</html>
    