{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DDAL-LANG</title>
        <link rel="stylesheet" href="{% static 'css/HomePage.css'%}" />
    </head>
    <body>
        <main>
            {% if request.user.is_authenticated %}
            <header>
                <div id="headerBox">
                    <a href="{% url 'accounts:user_location' %}">
                        <div id="headerSmallBox">
                            <img id="locationIcon" src="{% static 'img/location.svg'%}"/>
                            {% if user_location and user_location.gu_name %}
                                <p id="locationName">{{ user_location.gu_name }}</p>
                            {% else %}
                                <p id="locationName">위치 설정</p>
                            {% endif %}
                            <img id="downSideClick" src="{% static 'img/downside.svg'%}"/>
                        </div>
                    </a>
                    <div id="headerLastBox">
                        <a href="{% url 'visit_rewards:my_character' %}">
                            <img id="characterIcon" src="{% static 'img/charactericon.svg'%}"/>
                        </a>
                        <a href="../html/AlarmCenterPage.html">
                            <img id="alarmIcon" src="{% static 'img/alarm.svg'%}"/>
                        </a>
                    </div>
                </div>
            </header>
            {% if gu_name %}
            <div id="container">
                <div id="banner">
                    <div id="bannerBox">
                        <p id="bannerTitle">7월 동네 인기 맛집<br/>업데이트 완료</p>
                        <p id="bannerContent">이용자들이 가장 많이 재방문한 <br/>인기 맛집을 확인해 보세요!</p>
                    </div>
                    <img id="bannerCharacter" src="{% static 'img/characterBell.svg'%}"/>
                </div>
                <form>
                    <div class="tabContainer">
                        <div class="recommendstoreBox">
                            <img class="recommendstoreIcon" src="{% static 'img/recommendstore.svg'%}" alt="">
                            <p class="recommendstoreText">추천 가게</p>
                        </div>
                        <div class="topBox">
                            <img class="topIcon" src="{% static 'img/top.svg'%}" alt="">
                            <p class="topText">TOP 100</p>
                        </div>
                        <div class="reviewbestBox">
                            <img class="reviewbestIcon" src="{% static 'img/reviewbest.svg'%}" alt="">
                            <p class="reviewbestText">리뷰 BEST</p>
                        </div>
                    </div>
                </form>
                <form>
                    <div id="storeContainer">
                        <div id="storeCardBox">
                            <div class="storeCard">
                                <img class="storeImg" src="{% static 'img/storeImg.jpg'%}"/>
                                <div class="storeInfoBox">
                                    <div class="storeInfoMediumBox">
                                        <div class="storeInfoSmallBox">
                                            <p class="storeCategory">도봉구, 양식</p>
                                            <p class="storeName">미뇨리</p>
                                        </div>
                                        <img class="keep" src="{% static 'img/save.svg'%}"/>
                                    </div>
                                    <div class="distanceTimeBox">
                                        <div class="distanceTime">
                                            <p class="distanceTimeContent">📍</p>
                                            <p class="distanceTimeContent">300m</p>
                                        </div>
                                        <div class="distanceTime">
                                            <img class="distanceTimeIcon" src="../img/clock.svg"/>
                                            <p class="distanceTimeContent">영업중</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="commentBox">
                                    <img class="commentIcon" src="{% static 'img/comment.svg'%}"/>
                                    <p class="commentContent">청양불고기파스타</p>
                                </div>
                            </div>
                            <div class="storeCard">
                                <img class="storeImg" src="../img/storeImg.jpg"/>
                                <div class="storeInfoBox">
                                    <div class="storeInfoMediumBox">
                                        <div class="storeInfoSmallBox">
                                            <p class="storeCategory">도봉구, 양식</p>
                                            <p class="storeName">미뇨리</p>
                                        </div>
                                        <img class="keep" src="{% static 'img/save.svg'%}"/>
                                    </div>
                                    <div class="distanceTimeBox">
                                        <div class="distanceTime">
                                            <p class="distanceTimeContent">📍</p>
                                            <p class="distanceTimeContent">300m</p>
                                        </div>
                                        <div class="distanceTime">
                                            <img class="distanceTimeIcon" src="{% static 'img/clock.svg'%}"/>
                                            <p class="distanceTimeContent">영업중</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="commentBox">
                                    <img class="commentIcon" src="../img/comment.svg"/>
                                    <p class="commentContent">청양불고기파스타</p>
                                </div>
                            </div>
                            <div class="storeCard">
                                <img class="storeImg" src="{% static 'img/storeImg.jpg'%}"/>
                                <div class="storeInfoBox">
                                    <div class="storeInfoMediumBox">
                                        <div class="storeInfoSmallBox">
                                            <p class="storeCategory">도봉구, 양식</p>
                                            <p class="storeName">미뇨리</p>
                                        </div>
                                        <img class="keep" src="{% static 'img/save.svg'%}"/>
                                    </div>
                                    <div class="distanceTimeBox">
                                        <div class="distanceTime">
                                            <p class="distanceTimeContent">📍</p>
                                            <p class="distanceTimeContent">300m</p>
                                        </div>
                                        <div class="distanceTime">
                                            <img class="distanceTimeIcon" src="{% static 'img/clock.svg'%}"/>
                                            <p class="distanceTimeContent">영업중</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="commentBox">
                                    <img class="commentIcon" src="{% static 'img/comment.svg'%}"/>
                                    <p class="commentContent">청양불고기파스타</p>
                                </div>
                            </div>
                            <div class="storeCard">
                                <img class="storeImg" src="{% static 'img/storeImg.jpg'%}"/>
                                <div class="storeInfoBox">
                                    <div class="storeInfoMediumBox">
                                        <div class="storeInfoSmallBox">
                                            <p class="storeCategory">도봉구, 양식</p>
                                            <p class="storeName">미뇨리</p>
                                        </div>
                                        <img class="keep" src="{% static 'img/save.svg'%}"/>
                                    </div>
                                    <div class="distanceTimeBox">
                                        <div class="distanceTime">
                                            <p class="distanceTimeContent">📍</p>
                                            <p class="distanceTimeContent">300m</p>
                                        </div>
                                        <div class="distanceTime">
                                            <img class="distanceTimeIcon" src="{% static 'img/clock.svg'%}"/>
                                            <p class="distanceTimeContent">영업중</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="commentBox">
                                    <img class="commentIcon" src="{% static 'img/comment.svg'%}"/>
                                    <p class="commentContent">청양불고기파스타</p>
                                </div>
                            </div>
                            <div class="storeCard">
                                <img class="storeImg" src="{% static 'img/storeImg.jpg'%}"/>
                                <div class="storeInfoBox">
                                    <div class="storeInfoMediumBox">
                                        <div class="storeInfoSmallBox">
                                            <p class="storeCategory">도봉구, 양식</p>
                                            <p class="storeName">미뇨리</p>
                                        </div>
                                        <img class="keep" src="{% static 'img/save.svg'%}"/>
                                    </div>
                                    <div class="distanceTimeBox">
                                        <div class="distanceTime">
                                            <p class="distanceTimeContent">📍</p>
                                            <p class="distanceTimeContent">300m</p>
                                        </div>
                                        <div class="distanceTime">
                                            <img class="distanceTimeIcon" src="{% static 'img/clock.svg'%}"/>
                                            <p class="distanceTimeContent">영업중</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="commentBox">
                                    <img class="commentIcon" src="{% static 'img/comment.svg'%}"/>
                                    <p class="commentContent">청양불고기파스타</p>
                                </div>
                            </div>
                        </div>
                        <div id="btnBox">
                            <a href="../html/StoreSearchPage.html">
                                <div id="mapBtn">
                                    <div id="mapBtnBox">
                                        <img id="mapIcon" src="{% static 'img/map.svg'%}"/>
                                        <p id="mapTitle">지도로 보기</p>
                                    </div>
                                </div>
                            </a>
                            <a href="">
                                <div id="plusBtn">
                                    <div id="plusBtnBox">
                                        <img id="plusIcon" src="{% static 'img/plus.svg'%}"/>
                                        <p id="plusTitle">더보기</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div id="challengeBox">
                            <a href="{% url 'missions:my-mission' %}">
                                <p id="challengeTitle">🔥 주간 인기 챌린지</p>
                            </a>
                            <div id="challengeRanking">
                                <p class="challenge">🥇 같은 음료 3번 먹기 ▶️ 참여자 432명</p>
                                <p class="challenge">🥈 골목 3코스 완주 ▶️ 참여자 289명</p>
                                <p class="challenge">🥉 이번 주 NEW 가게 도전! ▶️ 참여자 175명</p>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            {% endif %}
            <div id="tapBar">
                <a class="tapBarBox" href="{% url 'home:main'%}">
                    <img class="tapBarIcon" src="{% static 'img/home.svg'%}" alt="홈 선택 아이콘" />
                    <p class="tapBarLabel">홈</p>
                </a>
                <a class="tapBarBox" href="{% url 'stores:store-search' %}">
                    <img class="tapBarIcon" src="{% static 'img/searchpicked.svg'%}" alt="가게 검색 아이콘" />
                    <p class="tapBarLabel picked">가게 검색</p>
                </a>
                <a class="tapBarBox" href="{% url 'accounts:favorite_stores' %}">
                    <img class="tapBarIcon" src="{% static 'img/intereststore.svg'%}" alt="관심 매장 아이콘" />
                    <p class="tapBarLabel">관심 매장</p>
                </a>
                <a class="tapBarBox" href="{% url 'accounts:mypage' %}">
                    <img class="tapBarIcon" src="{% static 'img/myinfo.svg'%}" alt="내 정보 아이콘" />
                    <p class="tapBarLabel">내 정보</p>
                </a>
            </div>
            {% else %}
                <a href="{% url 'accounts:login' %}">로그인</a>
                <a href="{% url 'accounts:signup' %}">회원가입</a>
            {% endif %}
        </main>
    </body>
    <script src="{% static 'js/HomePage.js'%}"></script>
</html>