{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DDAL-LANG</title>
    <link rel="stylesheet" href="{% static 'CSS/MyEditPage.css'%}" />
</head>
<body>
    <main>
        <header>
            <a href="./MyInfomationPage.html">
                <img src="{% static 'IMG/edit-back.png'%}" class="back-img" ></img>
            </a>
            <div class="tittle text"> 내 정보 관리 </div>
        </header>
        <div style="margin-left: 60px;">
            <div class="connect-box">
                <div class="connect-tittle">SNS 연동</div>
                <div class="connect-text">연동된 계정으로 로그인할 수 있어요.</div>
                <div class="connect-account">
                    <img src="{% static 'IMG/account-yellow.png'%}" class="account-img">
                    <img src="{% static 'IMG/account-gray.png'%}" class="account-img">
                    <img src="{% static 'IMG/account-gray.png'%}" class="account-img">
                </div>
            </div>
        </div>
        <div class="separation-box"></div>
        <div class="edit-box">
            <div class="edit-tittle">닉네임</div>
            <div class="edit-content">
                <div class="edit-text">연짱이</div>
                <img src="{% static 'IMG/account-arrow.png'%}" class="account-arrow1">
            </div>
        </div>
        <div class="edit-box">
            <div class="edit-tittle">이메일</div>
            <div class="edit-content">
                <div class="edit-text">djWjrnwjWjrn@duksung.ac.kr</div>
                <img src="{% static 'IMG/account-arrow.png'%}" class="account-arrow2">
            </div>
        </div>
        <div class="edit-box">
            <div class="edit-tittle">연락처</div>
            <div class="edit-content">
                <div class="edit-text">010-1234-4321</div>
                <img src="{% static 'IMG/account-arrow.png'%}" class="account-arrow3">
            </div>
        </div>
        <div class="edit-box">
            <div class="edit-tittle">비밀번호</div>
            <div class="edit-content">
                <div class="edit-text">새로운 비밀번호로 변경 가능</div>
                <img src="{% static 'IMG/account-arrow.png'%}" class="account-arrow4">
            </div>
        </div>
        <div class="bottom">
            <div class="membership">회원탈퇴</div>
            <div class="logout">로그아웃</div>
        </div>
        <div class="nick-name hidden">
            <div class="over-layer"></div>
            <div class="nick-name-box">
                <div class="nick-name-tittle">
                    <div class="text">닉네임 수정</div>
                    <img src="{% static 'IMG/MY-X.png' %}" style="cursor: pointer;">
                </div>
                <div class="separation-box"></div>
                <form  method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <textarea class="nick-name-textarea" name="nick-name" placeholder="기존 닉네임"></textarea>
                </form>
                </div>
        </div>
        <div class="num hidden">
            <div class="over-layer"></div>
            <div class="nick-name-box">
                <div class="num-tittle">
                    <div class="text">전화번호 수정</div>
                    <img src="{% static 'IMG/MY-X.png'%}"style="cursor: pointer;">
                </div>
                <div class="separation-box"></div>
                <form  method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <textarea class="nick-name-textarea" name="num" placeholder="010-1234-5678"></textarea>
                </form>
            </div>
        </div>
        <div class="email hidden">
            <div class="email-box">
                <img src="{% static 'IMG/my-back.png'%}" class="back"style="cursor: pointer;">
                <div class="email-tittle">이메일을 입력해주세요.</div>
                <div class="email-input">
                    <form method="post"enctype="multipart/form-data">
                        {% csrf_token %}
                        <textarea class="email-textarea" name="email" placeholder="기존이메일"></textarea>
                    </form>
                </div>
            </div>
        </div>
        <div class="password hidden">
            <div class="password-box">
                <img src="{% static 'IMG/my-back.png'%}" class="back"style="cursor: pointer;">
                <div style="margin-left: 58px; margin-top: 36px;">
                    <div class="password-tittle text">비밀번호 설정</div>
                    <div class="password-subtittle text">비밀번호가 설정되어 있지 않습니다.<br>비밀번호 설정 시 이메일을 통해 로그인할 수 있습니다.</div>
                    <div class="password-input">
                        <div class="password-name">비밀번호</div>
                        <div class="password-wrapper">
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="password" class="password-textarea" name="password" placeholder="비밀번호 확인" required>
                            </form>
                            <button type="button" class="toggle-btn"></button>
                        </div>
                    </div>
                    <div class="password-input">
                        <div class="password-name">비밀번호 확인</div>
                        <div class="password-wrapper">
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="password" class="password-textarea" name="passwordcheck" placeholder="비밀번호 확인" required>
                            </form>
                            <button type="button" class="toggle-btn"></button>
                        </div>
                    </div>
                    <button class="password-check-btn">비밀번호 설정 완료</button>
                </div>
            </div>
        </div>
    </main>
    <script src="{% static 'JS/MyEditPage.js'%}"></script>
</body>
</html>