{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DDAL-LANG</title>
        <link rel="stylesheet" href="{% static 'css/RewardInput.css'%}" />
    </head>
    <body>
        <main>
            <div id="container">
                <div id="box">
                    <div id="titleBox">
                    <a href="{% url 'stores:store-detail' mission.store.id %}">
                        <img src="{% static 'img/x.svg'%}" id="x"/>
                    </a>
                    <p id="title">누적 금액 입력</p>
                    <p> </p>
                    </div>
                    <form method="post">
                        {% csrf_token %}
                        <input type="text" name="amount"  placeholder="소비 금액" class="inputBox" id="id"/>
                        <input type="password" name="secret_code"  placeholder="점주 코드" class="inputBox" id="password"/>
                        <button type="submit" class="btn" id="btn">완료</button>
                    </form>
                </div>
            </div>
        </main>
    </body>
</html>