body{
    background-color:#fafafa;
    margin: 0px;
}
main{
    display: flex;
    justify-self: center;
    min-width: 430px;
    min-height: 100dvh;
    margin-bottom: 65px;
    background-color: white;
    flex-direction:column;
    display: flex;
    align-items: center;
    justify-content: center;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

a{
    text-decoration: none;
}

p{
    margin: 0;
}

#really{
    font-size: 24px;
    font-weight: 600;
}

#btnBox{
    display: flex;
    gap: 40px;
    margin-top: 25px;
}

.btn{
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 600;
    width: 95px;
    height: 45px;
    border-radius: 12px;
}

#delete{
    background-color: #FF474F ;
    color: #fff;
}

#no{
    background-color: #1DAEEF;
    color: #fff;
}