{% load static %}
{% load humanize %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DDAL-LANG</title>
    <link rel="stylesheet" href="{% static 'CSS/product-list.css'%}" />
</head>
<body>
    <main>
        <header>
            <a href="{% url 'stores:owner-store-list' %}">
                <img src="{% static 'IMG/edit-back.png'%}" class="back-img"></img>
            </a>
            <div class="tittle-text"> 상품/메뉴 목록 </div>
        </header>
        {% for product in products %}
            <div class="food-list">
                <div class="menu-box">
                    <div class="first-line">
                        <div style="display:flex;"> 
                                {% if product.is_main %}
                                    <div class="main-menu">대표</div>
                                {% endif %}
                            <div class="menu-name">{{ product.name }}</div>
                        </div>
                        <div class="menu-name">{{ product.price|floatformat:0|intcomma }}</div>
                    </div>
                    <div class="menu-description">{{ product.description }}</div>
                    <div class="third-line">
                        <a href="{% url 'products:product-update' product.id %}" class="btn">
                            <img src="{% static 'IMG/blue-edit.svg'%}">
                            <div class="btn-text" style="color: #1DAEEF;">수정</div>
                        </a>
                        <a href="{% url 'products:product-delete' product.id %}" class="btn">
                            <img src="{% static "img/red-trash.svg" %}">
                            <div class="btn-text" style="color: #FF474F;">삭제</div>
                        </a>
                    </div>
                </div>
            </div>
        {% empty %}
            등록된 상품이 없습니다.
        {% endfor %}
        <!-- 새 상품 등록 버튼 -->
        <a href="{% url 'products:product-create' store.id %}"  class="new-box">
            <img src="{% static "img/yellow-plus.svg" %}">
            <div class="font13">새 상품 등록</div>
        </a>
    </main>
</body>
</html>