{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>DDAL-LANG</title>
    <link rel="stylesheet" href="{% static 'css/StoreDelete.css'%}" />

</head>
<body>
    <main style="margin-bottom:0px">
        <p id="really">
            정말 {{ product.name }}을 삭제하시겠습니까?
        </p>

    <form method="post">
        {% csrf_token %}
        <div id="btnBox">
            <button id="delete" class="btn" type="submit">삭제</button>
            <a href="{% url 'products:product-list' product.store.id %}">
                <div id="no" class="btn">취소</div>
            </a>
</form>
    </form>

</body>
</html>
