{% load static %}
{% load humanize %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DDAL-LANG</title>
    <link rel="stylesheet" href="{% static 'css/store_coupon_list.css'%}" />
</head>
<body>
    <main>
        <header>
            <a href="{% url 'stores:self-service' store.id %}">
                <img src="{% static 'img/edit-back.png'%}" class="back-img"></img>
            </a>
            <div class="tittle-text"> 쿠폰 목록 </div>
        </header>
        <div class="btn-line">
            <a href="?status=active">
                <button 
                class="c-btn"
                style="
                width:46px; height:22px;
                padding: 4px 7px 4px 7px;
                border-radius: 40px;"
                {% if status == "active" %}
                    id="active-btn"
                {% endif %}>진행중</button>
            </a>
            <a href="?status=past">
                <button 
                class="c-btn"
                style="
                width:33px; height:22px;
                padding: 4px 5px 4px 7px;
                border-radius: 9px;
                margin-right:45px;"
                {% if status == "past" %}
                    id="active-btn"
                {% endif %}>과거</button>
            </a>
        </div>
        {% for mission in missions %}
            <div class="food-list">
                <div class="menu-box">
                    <div class="content-box">
                        <div class="menu-name" style="font-size:20px; margin-bottom:8px;">{{ mission.title }}</div>
                        <div class="menu-name">{{ coupon.get_coupon_type_display }}</div>
                        <div class="menu-name">
                            {% if mission.reward_type == "POINT" %}
                                포인트: {{ mission.reward_points }}점
                            {% elif mission.reward_type == "CUSTOM" %}
                                직접 입력 보상: {{ mission.reward_description }}
                            {% endif %}
                        </div>
                        <div class="line">
                            <div class="left-box">
                                <div class="menu-name" style="margin-bottom:0px;">생성일: {{ mission.created_at|date:"Y-m-d" }}</div>
                                {% if coupon.expire_at %}
                                    <div class="menu-name" style="margin-top:7px">{{ mission.start_date|date:"Y-m-d H:i" }} ~ {{ mission.end_date|date:"Y-m-d H:i" }}</div>
                                {% endif %}
                            </div>
                            <div class="right-box">
                            {% if status != "past" %}
                            <a href="{% url 'missions:mission-update' mission.id %}" class="btn">
                                    <img src="{% static 'img/gray-edit.svg'%}">
                                    <div class="btn-text">수정</div>
                                </a>
                            {% endif %}
                            <a href="{% url 'missions:mission-delete' mission.id %}" class="btn">
                                    <img src="{% static "img/gray-trash.svg" %}">
                                    <div class="btn-text">삭제</div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% empty %}
            <div style="display:flex; align-self:center">챌린지가 없습니다.</div>
        {% endfor %}
        <!-- 새 상품 등록 버튼 -->
        <a href="{% url 'missions:mission-create' store.id %}"  class="new-box">
            <img src="{% static "img/yellow-plus.svg" %}">
            <div class="font13">새 챌린지 등록</div>
        </a>
    </main>
</body>
</html>