{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>미션 수정(점주)</title>
</head>
<body>
    <h2>{{ store.name }} - 미션 수정</h2>

    <form method="POST">
        {% csrf_token %}
        <div>
            미션 제목:<br/>
            {{ form.title }}
        </div>

        <div>
            미션 설명:<br/>
            {{ form.description }}
        </div>

        <div>
            보상 내용:<br/>
            {{ form.reward_description }}
        </div>

        <div>
            시작일:<br/>
            {{ form.start_date }}
        </div>

        <div>
            종료일:<br/>
        {{ form.end_date }}
        </div>
        <br/>

        <button type="submit">완료</button>
    </form>

    <a href="{% url 'missions:mission-list' store.id %}">미션 목록</a>
</body>
</html>
