{% load static %}
{% load humanize %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <title>내 챌린지(소비자)</title>
</head>
<body>
    <a href="{% url 'accounts:main' %}">홈으로</a><br><br>

    <h2>내 챌린지</h2>

    <!-- 버튼 -->
    <a href="?status=active">
        <button {% if status == "active" %}style="font-weight:bold;"{% endif %}>
            진행 중 챌린지
        </button>
    </a>

    <a href="?status=past">
        <button {% if status == "past" %}style="font-weight:bold;"{% endif %}>
            지난 챌린지
        </button>
    </a>

    <hr/>

    {% for progress in progresses %}
    <div>
        <!-- 설명 -->
        <a href="{% url 'stores:store-detail' progress.mission.store.id %}">
            <h3>{{ progress.mission.store.name }}</h3>
        </a>
        <h4>{{ progress.mission.title }}</h4>
        <p>{{ progress.mission.description }}</p>
        <p>{{ progress.mission.mission_type.name }} - {{ progress.mission.target_value|floatformat:0|intcomma }}{{ progress.mission.mission_type.unit }}</p>
        <p>{{ progress.mission.start_date|date:"Y-m-d H:i" }} ~ {{ progress.mission.end_date|date:"Y-m-d H:i" }}</p>
    
        <!-- 진행률 -->
        <p>목표: {{ progress.mission.target_value }}{{ progress.mission.mission_type.unit }}</p>
        <p>현재: {{ progress.current_value }}{{ progress.mission.mission_type.unit }}</p>
        <p>남은: {{ progress.remaining|floatformat:0|intcomma }}{{ progress.mission.mission_type.unit }}</p>
        <p>진행률: {{ progress.percent }}%</p>
        {% if progress.is_completed %}
            <a href="{% url 'missions:mission-complete' progress.mission.id %}">
                완료
            </a>
        {% else %}
            <p>진행 중</p>
        {% endif %}
    </div>
    <hr/>
    {% empty %}
    <p>챌린지가 없습니다.</p>
    {% endfor %}

</body>
</html>
